@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
.faq{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 53px;
  height: 232px;
  opacity:0.7;
  box-shadow: 0px 0px 50px rgba(230, 76, 76, 0.45);
}
.btn{
width: 53px;
height: 232px;
font-family: 'Avenir Next';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 58px;
letter-spacing: -0.145em;
color: #fbfbfb;
background:linear-gradient(86.37deg, #2d033f -16.15%, #082A69 167.04%);
}
.btn:hover{
  background:#ef53cb;
}
.model{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  left: 26%;
  text-align: center;
  justify-content: space-around;
  margin: 0 auto;
}
.overlay{
  width: 200px;
  color: white;
  font-weight: 400;
  font-size: 11px;
}
@media screen and (max-width: 1100px) {
  .model {
    flex-direction: column;
    position: absolute;
  }
}

