@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
.faq {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 75px;
  height: 290px;
  opacity: 0.7;
  background: transparent;
  filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.651));
}
.btn {
  width: 75px;
  height: 290px;
  padding-top: 35px;
  padding-left: 6px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 58px;
  color: #fbfbfb;
  background: linear-gradient(86.37deg, #2d033f -16.15%, #082a69 167.04%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}
.btn:hover {
  background: #ef53cb;
}
.model {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  left: 26%;
  text-align: center;
  justify-content: space-around;
  margin: 0 auto;
}
.overlay {
  width: 200px;
  color: white;
  font-weight: 400;
  font-size: 11px;
}
@media screen and (max-width: 1100px) {
  .model {
    flex-direction: column;
    position: absolute;
  }
}
