.Teams_Section {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(to bottom,#000000,#06094c,#0b0f85,#04052b,#000000);
  margin-top: 3rem;
  margin-bottom: 10rem;
  
}
.Teams_Section > h2 {
  font-size: 6em;
  font-weight: 400;
  font-style: italic;
  color: whitesmoke;
  position: relative;
  z-index: 5;
}
.Teams_Cards_Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: auto;
  gap: 20px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .Teams_Cards_Container {
    grid-template-columns: repeat(3, 1fr);
  }

}
@media screen and (max-width: 900px) {
  .Teams_Cards_Container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 590px) {
  .Teams_Cards_Container {
    grid-template-columns: repeat(1, 1fr);
  }

}

.Team_Image > img {
  width: 25vh;
  height: 25vh;
  border-radius: 50%;
}
.Team_Image {
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.Team_Card {
  height: 45vh;
  border-radius: 1.5rem;
  font-size: 20px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  z-index: 5;
}

.Team_Name {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: rgb(100, 73, 255);
}
.Team_Position {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  word-wrap: break-word;

  color: whitesmoke;
}
