.summit{
  background-image: url('../../images/sep09.jpg');
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
.img
{
  margin: 7px auto;
  height: 200px;
  width:auto;
}
.card{
  border-radius: 2em;
  margin-top:55px;
  margin-bottom: 55px;
  height: 350px;
  width: 300px;
  background-color: black;
  border: 2px solid rgb(82, 76, 242);
  flex-shrink: 0;
}
.card:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;

}
.name{
  font-size: xx-large;
  color:white ;
}
.profile_photo{
  object-fit: cover;
  border-radius: 10em;
}
.name{
  text-align: center;
}
.desc{
  text-align: center;
  font-size: larger;
  color: white;
}