.About {
  height: 120vh;
  /* background-image: linear-gradient(
    180deg,
    #ff3cac 0%,
    #784ba0 46%,
    #2b86c5 100%
  ); */
  z-index: 4;
}

.About_roww {
  display: flex;
  height: 100%;
}

.About_col1 {
  width: 20%;
  position: relative;
}

.About_contentt {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: whitesmoke;
  text-align: center;
}

.About_contentt p {
  width: 90%;
}

.About_ico {
  height: 50px;
  width: 50px;
  position: absolute;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.About_first-left {
  top: 15%;
  left: 10%;
}
.About_second-left {
  top: 25%;
  left: 45%;
}
.About_third-left {
  top: 38%;
  left: 60%;
}
.About_fourth-left {
  top: 70%;
  left: 10%;
}
.About_fifth-left {
  top: 45%;
  left: 25%;
}
.About_sixth-left {
  top: 87%;
  left: 35%;
}
.About_seventh-left {
  top: 57%;
  left: 70%;
}
.About_eighth-left {
  top: 75%;
  left: 50%;
}

.About_first-right {
  top: 15%;
  right: 10%;
}
.About_second-right {
  top: 25%;
  right: 45%;
}
.About_third-right {
  top: 38%;
  right: 60%;
}
.About_fourth-right {
  top: 70%;
  right: 10%;
}
.About_fifth-right {
  top: 45%;
  right: 25%;
}
.About_sixth-right {
  top: 87%;
  right: 35%;
}
.About_seventh-right {
  top: 57%;
  right: 70%;
}
.About_eighth-right {
  top: 75%;
  right: 50%;
}
