.Home_main {
  height: 100%;
  width: 100%;
}
.Home_containerr {
  height: 100vh;
  color: #000000;
  position: relative;
}
.Home_containerr img {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.Home_flexi {
  display: flex;
  position: absolute;
  z-index: 1;
  color: #fb9fb4;
  top: 550px;
  font-weight: 600;
  font-size: 100px;
  left: 600px;
}

.a {
  opacity: 0;
  transform: translateY(300px);
}
.b {
  opacity: 0;
  transform: translateY(300px);
}
.h {
  opacity: 0;
  transform: translateY(300px);
}
.i {
  opacity: 0;
  transform: translateY(200px);
}
.c {
  opacity: 0;
  transform: translateY(150px);
}

.g {
  opacity: 0;
  transform: translateY(150px);
}

.d {
  opacity: 0;
  transform: translateY(100px);
}
.f {
  transform: translateY(100px);
}
.e {
  opacity: 0;
  transform: translateY(100px);
}

.Home_content {
  width: 100%;
  background: black;
  height: 120vh;
  color: white;
  position: absolute;
  z-index: 5;
}

.Home_box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.intro {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider {
  background-color: #6a0b32;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateY(110%);
}

.intro-text h1 {
  color: #d9258c;
  font-size: 70px;
  font-weight: 600;
}

.hide {
  background-color: #000000;
  overflow: hidden;
  padding: 2px;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .Home_flexi {
    top: 75%;
    font-weight: 500;
    font-size: 50px;
    left: 25%;
  }

  .Home_bg1 {
    object-fit: cover;
  }

  .Home_leftt {
    object-fit: cover;
  }
  .intro-text h1 {
    font-size: 25px;
    font-weight: 600;
  }
}