.Home_main {
  height: 100%;
  width: 100%;
}
.Home_container {
  height: 100vh;
  color: #000000;
  position: relative;
}
.Home_container img {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.Home_flex {
  display: flex;
  position: absolute;
  z-index: 1;
  color: #fb9fb4;
  top: 500px;
  font-weight: 500;
  font-size: 50px;
  left: 600px;
}

.Home_a {
  opacity: 0;
  transform: translateY(300px);
}
.Home_b {
  opacity: 0;
  transform: translateY(300px);
}
.Home_h {
  opacity: 0;
  transform: translateY(300px);
}
.Home_i {
  opacity: 0;
  transform: translateY(200px);
}
.Home_c {
  opacity: 0;
  transform: translateY(150px);
}

.Home_g {
  opacity: 0;
  transform: translateY(150px);
}

.Home_d {
  opacity: 0;
  transform: translateY(100px);
}
.Home_f {
  transform: translateY(100px);
}
.Home_e {
  opacity: 0;
  transform: translateY(100px);
}

.Home_content {
  width: 100%;
  background: black;
  height: 120vh;
  color: white;
  position: absolute;
  z-index: 5;
}

.Home_box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.Home_intro {
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Home_slider {
  background-color: #fefbf1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateY(110%);
}

.Home_intro-text h1 {
  color: #ffca7b;
  font-size: 70px;
}

.Home_hide {
  background-color: #000000;
  overflow: hidden;
  padding: 2px;
}

.Home_hide span {
  transform: translateY(100%);
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .Home_flex {
    top: 70%;
    font-weight: 500;
    font-size: 25px;
    left: 25%;
  }

  .Home_bg1 {
    object-fit: cover;
  }

  .Home_leftt {
    object-fit: cover;
  }
}
