@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.home {
  background-image: url("../images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.home_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2; 
}
.date {
  margin:0 30px;
  font-size: 70px;
  font-weight: 400;
  letter-spacing: 12px;
  font-family: 'Lobster', cursive;
}
.logo {
  height: 350px;
}
.backdrop {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 0;
}

.intro {
  /* background-image: url("../images/bg.png"); */
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .slider {
  background-image: url("../images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transform: translateY(110%);
} */
.loader {
  height: 500px;
  opacity: 0;
}

@media screen and (max-width: 800px) {
  .logo {
    height: 200px;
  }
  .date {
    margin-top: 30px;
    font-size: 50px;
    letter-spacing: 10px;
  }
  .loader {
    height: 300px;
  }
}
@media screen and (max-width: 650px) {
  .logo {
    height: 150px;
    margin-top: -85px;
  }
  .date {
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 8px;
  }
  .loader {
    height: 300px;
  }
}

.faq {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 75px;
  height: 290px;
  opacity: 0.7;
  background: transparent;
  filter: drop-shadow(0px 0px 50px rgba(255, 255, 255, 0.651));
}

.btn {
  width: 75px;
  height: 290px;
  padding-top: 35px;
  padding-left: 6px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 58px;
  color: #fbfbfb;
  background: linear-gradient(86.37deg, #2d033f -16.15%, #082a69 167.04%);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}
.btn:hover {
  background: #ef53cb;
}

.ocean {
  height: 120px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

