@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.navbar-head{
  background-color: black;
  }
.nav-item {
  font-family: 'Merriweather', serif; 
  font-style: normal;
  font-size: 21px;
  line-height: 21px;
  display: inline;
  width: 8em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0.5em;
}
.nav-item a{
  color: white !important;
  font-weight: 300;
  text-decoration: none;

}
.nav-item:hover {
  font-family: 'Merriweather', serif; 
  border: 0.3em solid var(--c);
  background-color: white;
  border-radius: 0.5em;
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}
.nav-item:hover a {
  text-decoration: none;
  color: black !important;
}
.navbar-nav{
  display: flex;
  justify-content: space-around;
  width: 100%;
}