.sponsor {
  background-image: url("../images/sep09.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.sponsor-title {
  font-size: 70px;
  font-weight: 400;
  margin-top:100px;
  font-family: "Aquire";
}

.image-sponsor{
  height: 200px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
}

.cards-sponsor{
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  padding: 0 40px;
  list-style: none;
}

.cards_sponsor {
  display: flex;
  height: auto;
  margin: 16px 0;
}

@media (min-width: 40rem) {
  .cards_sponsor {
    width: 80%;
  }
}

@media (min-width: 56rem) {
  .cards_sponsor {
    width: 33.3333%;
  }
}
