.team{
  background-image: url('../images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.img
{
  margin: 7px auto;
  height: 400px;
  width:400px;
}
.card{
  border-radius: 80em;
  margin:45px;
  height: 350px;
  width: 300px;
  background-color: black;
  border: 6px solid rgb(242, 76, 200);
}
.card:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;

}
.name{
  font-size: xx-large;
  color:white ;
}
.profile_photo{
  height: 200px;
  width: 200px;
}
.name{
  text-align: center;
}
.desc{
  text-align: center;
  font-size: x-large;
  color: white;
  margin-top: 8px;
}