@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.team{
  background-image: url('../images/sep09.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.subteam
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.img
{
  margin-top: 7px auto;
  display: flex;
  justify-content: center;
  height: 400px;
  width:400px;
}
.cards {
  border-radius: 2em;
  margin:45px;
  height: 350px;
  width: 300px;
  background-color: black;
  border: 2px solid blue;
}
.cards:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out;

}
.name{
  font-size: xx-large;
  color:white ;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.profile_photo{
  height: 200px;
  width: 200px;
}
.desc{
  text-align: center;
  font-size: x-large;
  color: white;
  margin-top: 8px;
  font-family: 'Source Sans Pro', sans-serif;
}
.topdiv{
  margin-top: 150px;
}