.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-style: italic;
  padding: 1rem;
}

.form-label {
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input[type="text"],
.form-input[type="email"] {
  height: 40px;
}

.form-input[type="textarea"] {
  resize: none;
  height: 200px;
}

.form-button {
  background-color:midnightblue;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.form-button:hover {
  background-color:rgb(215, 15, 15);
}