footer{
    position: relative;
    width: 100%;
    background:linear-gradient(#1a21d9,#ef6ced);
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
footer .Footer_social_icon, .Footer_menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .Footer_social_icon li, .Footer_menu{
    list-style: none;
}

footer .Footer_social_icon li a{
    font-size: 1.4em;
    color: #ffff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
}
footer .Footer_social_icon li a:hover{
    transform:translateY(-10px);
}

footer .Footer_menu li a{
    font-size: 1em;
    color: #ffff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.75;
}
footer .Footer_menu li a:hover{
    opacity: 1;
}
footer p{
    color: #ffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1em;
}
