.sponsor{
    font-family: 'Noto Serif', serif;
    
}
.sp{
    font-family: 'Playfair Display', serif;
}
.btn{
    font-family: 'Oswald', sans-serif;
}
.OurSponsers, .WhySponser {
    background-image: url('./components/cool-background4.png');
    background-size: cover;
    background-attachment: fixed;
}
.dtu_logo{
    width: 200px;
    height: 200px;
}
